body {
    font-family: 'Playfair Display', serif;
    /* background: rgb(169,241,223);
    background: -moz-linear-gradient(343deg, rgba(169,241,223,0.5004202364539565) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,187,187,0.5) 100%);
    background: -webkit-linear-gradient(343deg, rgba(169,241,223,0.5004202364539565) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,187,187,0.5) 100%);
    background: linear-gradient(343deg, rgba(169,241,223,0.5004202364539565) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,187,187,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9f1df",endColorstr="#ffbbbb",GradientType=1);  */
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 .05rem 1rem rgba(133, 133, 133, 0.15);
}

a {
    color: #000;
    text-decoration: none;
    transition: text-decoration 5s;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

@media (max-width: 768px) {
    /* nav {
        top: 1.5rem !important;
    } */

    header {
        margin-top: 5rem !important;
    }

    .hello {
        font-size: 3rem !important;
    }

    .pearlsamantha {
        font-size: 4rem !important;
    }

    header h5 {
        font-size: 2rem !important;
    }
    .introductoryContainer {
        margin-top: 1.2rem !important;
    }
}

.hoverpointer:hover {
    cursor: pointer;
}


header {
    padding-top: 7rem;
    --animate-duration: 2.3s;
}

#Title {
    /* border: 1px solid #000; */
    position: relative;
    top: -3rem;
}

#Title::before {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    content: "hello potatato";
    padding-top: 3rem;
    top: -3rem;
    visibility: hidden;
}

.greetings {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    --animate-duration: 1s;
}

.hello {
    font-size: 5rem;
}

.pearlsamantha {
    font-family: 'Alex Brush', cursive;
    font-size: 6rem;
}

header h5{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
}

/* .basicInfoContainer {
    width: 100%;
    padding: 10rem 1rem 0rem 1rem;
} */

section {
    width: 100%;
    padding: 15rem 1rem 0rem 1rem;
}

footer {
    width: 100%;
    padding: 10rem 1rem 0rem 1rem;
}

.contactMebtn {
    border: 1px solid #bbb;
}

.contactMebtn:hover {
    background-color: #555;
    color: #fff;
}

i:hover {
    cursor: pointer;
}
